.outer {
    margin-left: 0px;
    min-height: 90vh;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #fff2eb;
    overflow: hidden;
}

.panel-heading {
    font-size: 30px;
    text-align: center;
    color: #54c242;
}

.title {
    font-size: 30px;
    text-align: center;
    color: #54c242;
}
.copyright{
    color: #54c242;
}

.header,
.footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 80px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.font-weight-bold{
    display: flex;
    justify-content: center;
    align-items: center;

}

#forget {
    padding-top: 10px;
    margin-top: 20px;
    min-width: 100px;
    
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    color: #54c242;
    color: #54c242;
    text-decoration: none;
    
    &:hover {
      color: #388e3c;
      text-decoration: underline;
    }
}
.custom-padding {
    padding-top: 0px; 
}


A:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 15px;
    background-color: #54c242;
    color: #fff;
    padding: 15px 40px; /* Increased padding for a bigger button */
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make it a block-level element */
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto;
}

.btn:hover {
    background-color: #388e3c;
}

.panel {
    box-shadow: 20px 0px 90px rgba(84, 194, 66, 0.5);
    border-radius: 12px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 300px;
    max-height: 100vh;
    overflow: hidden;
    align-self: center;
}

.input-field {
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #54c242;
    color: gray;
    margin-bottom: 5px;
    margin-top: 15px;
}

.input-field.error {
    border: 2px solid red;
    color: red;
}

input[type='email'],
input[type='password'],
input[type='text'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: calc(100% - 40px); /* Adjusted width */
    padding: 8px; /* Adjusted padding */
    margin-bottom: 10px;
}
.text-danger {
    color: red;
   
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    background-color: #fff;

    ::ng-deep span {
        color: #54c242 !important;
    }
}

p {
    color: #54c242;
}