<app-navbar></app-navbar>
<body>
    <div class="flex flex-wrap mx-auto w-1/2">
        <h1 class="text-center w-full p-2 text-4xl font-bold mt-5">SAVIS</h1>
        <p class="p-4">{{ 'about_project' | translate }}</p>
        <p class="p-4">{{ 'about_created' | translate }}</p>
    </div>
    <div class="flex flex-wrap mx-auto w-full items-center justify-center">
        <div class="flex flex-col items-center w-1/4">
            <h3 class="text-center w-full p-2 text-xl font-bold">{{ 'spring2019' | translate }}</h3>
            <ul class="flex flex-col items-center">
                <li>Matt Merrill</li>
                <li>Jason Robinson</li>
                <li>Mike Stepp</li>
                <li>Ryan Bartoli</li>
                <li>Isaac Israel</li>
                <li>Josh Zurbuchen</li>
                <li>Chun Yue Leung</li>
            </ul>
        </div>

        <div class="flex flex-col items-center w-1/4 mb-6">
            <h3 class="text-center w-full p-2 text-xl font-bold">{{ 'spring2020' | translate }}</h3>
            <ul class="flex flex-col items-center">
                <li>Anand Rai</li>
                <li>Akshar Patel</li>
                <li>Daniel Kuzmin</li>
                <li>Brody Johnson</li>
                <li>Roberto Campos</li>
                <li>Muhammad Mazhar</li>
            </ul>
        </div>

        <div class="flex flex-col items-center w-1/4">
            <h3 class="text-center w-full pt-4 text-xl font-bold mt-4">{{ 'spring2024' | translate }}</h3>
            <ul class="flex flex-col items-center">
                <li>Jason Yu</li>
                <li>Albin Shabu</li>
                <li>Hetvi Patel</li>
                <li>Vaibhav Jain</li>
                <li>Sri Charan Kondragunta</li>
                <li>Sarthak Bhalla</li>
                <li>Emad Sabir</li>
                <li>Hormoz Halimi</li>
                <li>Bikram Singh</li>
            </ul>
        </div>
    </div>
    <hr class="mt-5">
    <div class="mt-3 flex flex-col mx-auto w-full items-center justify-center">
        <p class="mb-3">{{ 'contact' | translate }}</p>
        <a class="text-blue-500 underline hover:text-blue-700" href="https://www.csus.edu/faculty/d/rdiaz/" target="_blank">Rafael E Diaz Escamilla</a>
    </div>
    
    
</body>
<app-footer class="fixed inset-x-0 bottom-0"></app-footer>
