body{
    background-color: var(--fifth-col);
    min-height: 100vh;
}

.static-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000; 
    color: #ffffff;
    text-align: center;
    padding: 10px 0; 
  }

  #contactTitle,a, a:hover, a:visited{
    color: var(--second-col);
  }