<div class="content">
    
    <div class ="header">
            <h3 class="title pt-6">SAVIS</h3>
    </div>
    
    <div class="outer">
        <div class="container">
            <div class="row">
                <div class="offset-md-12 col-lg-15 col-md-4 offset-lg-4 offset-md-3">
                    <div class="panel border bg-white">
                        <p class="text-center">Select language</p>
                        <p class="text-center">Seleccione el idioma</p>
                        <app-language-switcher class="language"></app-language-switcher>
                        <h3 class="panel-heading pt-3">{{'Login' | translate}}</h3>
               
                        <div class="panel-body p-3">
                            <form [formGroup]="loginForm">
                                
                                <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                        <span class="fa fa-user p-2"></span>
                                        <input formControlName ="username" type ="text"placeholder="{{'Username' | translate}}">
                                    </div>                                
                                </div>
                                <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger small-error">*{{"UsernameRequired" | translate}}</small>
                                <div class ="form-group pt-3">
                                    <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                        <span class="fa fa-lock p-2"></span>
                                        <input formControlName ="password" type="password"placeholder="{{'Password' | translate}}">
                                        <span class="fa fa-eye-slash"></span>
                                    </div>
                                </div>
                                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*{{"PasswordRequired" | translate}}</small>
    
                                <div class="form-incline fr mt-4">
                                    <a id="forget" class="font-weight-bold" routerLink="/forgotpassword">{{"ForgotPassword" | translate}}?</a>
                                </div>
                                <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">{{"Login" | translate}}</button>
                                <div class="text-center pt-4 custom-padding text-muted text-gray-500">{{'DontHaveAccount' | translate}}? <a id="forget" routerLink="/signup">{{"Signup" | translate}}</a></div>
                                <button (click)="guestOnSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100" >{{"ContinueAsGuest" | translate}}</button>
    
                               
    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class ="footer inset-x-0 bottom-0">
        <div class="copyright">
            <p class="py-4">{{ 'nav_copyright' | translate }}</p>
        </div>
    </div>
    </div>