<app-navbar></app-navbar>

<div class="bar-chart-container">
  <h1 class="title">{{ 'problems_bar_chart_title' | translate }}</h1>
  <div button="back" routerLink="/problems" class="back-button">
    &larr; {{ 'problems_back' | translate }}
  </div>
  <div class="content">
    <!-- Left side: Question and Multiple Choices -->
    <div class="text-section">
      <div class="green-box">
        <p>{{ question }}</p>
      </div>
      <!-- Multiple-choice options -->
      <div class="multiple-choice">
        <div *ngFor="let choice of multipleChoices; let i = index">
          <input
            type="radio"
            [value]="choice"
            [(ngModel)]="selectedAnswer"
            name="choices"
            [id]="'choice-' + i"
          />
          <label class="choice-label" [for]="'choice-' + i">{{ choice }}</label>
        </div>
      </div>
      <!-- Submit button -->
      <button class="submit-button" (click)="submitAnswer()">{{ 'problems_submit' | translate }}</button>
      <!-- Show if user answer is correct or incorrect -->
      <div
        *ngIf="showAnswer"
        class="answer-box"
        [ngClass]="{ correct: answerIsCorrect, incorrect: !answerIsCorrect }"
      >
        <p>{{ answerIsCorrect ? 'Correct!' : 'Incorrect answer. Please try again!' }}</p>
        <p *ngIf="!answerIsCorrect">
          Correct answer: {{ correctAnswer }}
        </p>
        <!-- Hide answer button -->
        <button (click)="hideAnswer()" class="hide-button">{{ 'problems_hide' | translate }}</button>
      </div>
      <!-- Generate new problem button -->
      <button class="generate-button" (click)="generateNewProblem()">{{ 'problems_generator' | translate }}</button>
    </div>

    <!-- Right side: Bar Chart -->
    <div class="chart-container">
      <canvas #inputChart width="900" height="400"></canvas>
    </div>
  </div>
</div>

<footer class="static-footer">
  {{ 'nav_copyright' | translate }}
</footer>