#dot-chart-tutorial{
  padding: 20px;

    h3 {
      font-weight: bold;
      margin-top: 1ch;
      width: 100%;
      .toggle-box {
        float: right;
      }
    }
    h1 {
      font-weight: bold;
    }
    .chart-input-form {
      display: flex;
      // border-bottom: 3px green solid;
      .data-form {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 38ch;
        padding: 5px;
        margin-bottom: 10px;
        //text-align: justify;
        p {
          margin-top: 1px;
          margin-bottom: 1px;
          text-align: center;
        }
        .center-num {
          text-align: center;
          float: right;
        }
      }
      .chart-wrap {
        flex: 8;
        padding: 5px;
      }
      label,
      input[type="number"] {
        height: 25px;
        border-radius: 5px;
        display: inline-block;
      }
    }
    .btn {
      margin-top: 1px;
      margin-bottom: 1px;
    }
    textarea{
      border: 2px solid gray;
      margin: 2px;
      width: 100%;
      border-radius: 5px;
      resize: none;
    }
    select{
      border: 1px solid gray;
      width: 100%;
      height: 30px;
      border-radius: 5px;
    }
}

.green-line {
  margin: 10px;
  width: 100%;
  height:4px;
  background-color: green;
}

$primary-color: #5ebe5e;
$secondary-color: #93cb52;
$slider-active-color: #bfbfbf;
$slider-track-color: #bfbfbf;

button {
  background: linear-gradient(180deg, lighten($secondary-color, 5%), $secondary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background: linear-gradient(180deg, $secondary-color, darken($secondary-color, 5%));
  }

  &:disabled {
    background: #bfbfbf;
    cursor: not-allowed;
  }
}

input[type="number"] {
  margin: 2px;
  border: 1px solid $slider-active-color;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(185, 180, 180);
    color: rgb(185, 180, 180);
  }
}

input[type="checkbox"] {
  &:disabled {
    cursor: not-allowed;
  }
}

.readonly {
  background-color: rgb(185, 180, 180);
  font-size: 1rem;
  width: 100%;
  cursor: default;
}

.static-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px 0; 
}