@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.user-manual-container {
  padding: 40px;
  background-color: var(--fifth-col);
  min-height: 100vh;

  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    .text-section {
      flex: 0.6;

      h2, h3 {
        margin: 0;
        padding-bottom: 10px;
        color:var(--second-col);
      }
    }
  }
}
h1{
  color:var(--second-col);
  font-weight: bold;
}

.static-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px 0; 
}

/* Top level container */
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Styling for each column */
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
}

/* Tool title styling */
.tool1, .tool2, .tool3 {
    margin: 2em auto 1em;
    color: var(--second-col);
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    width: 100%;
    max-width: 310px;
}

/* Individual box styling */
.box, .box2, .box3 {
    width: 310px;
    padding: 2vh;
    margin: 1vh auto;
    background-color: var(--third-col);
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color: beige;
    text-align: center;
}

/* Box hovering effects */
.box:hover, .box2:hover, .box3:hover {
    background-color: var(--fourth-col);
    cursor: pointer;
}

/* Styling size based on user's display size */
@media(max-width: 600px) {
    .box-container{
        flex-direction: column;
    }
}