<div class ="header">
    <h3 class="title pt-6 font-weight-bold">SAVIS</h3>
</div>

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-12 col-lg-15 col-md-4 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <p class="text-center">Select language</p>
                        <p class="text-center">Seleccione el idioma</p>
                    <app-language-switcher class="language"></app-language-switcher>
                    <h3 class="panel-heading pt-3 font-weight-bold">{{"Signup" | translate}}</h3>
                    
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')"class ="text-danger">{{"FirstNameRequired" | translate}}</small>
                                <div class="input-field" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstName"type ="text"placeholder="{{'FirstName' | translate}}">
                                </div>                                
                            </div>
                            <div class="form-group pt-3">
                                <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" class ="text-danger">{{"LastNameRequired" | translate}}</small>
                                <div class="input-field" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastName"type ="text"placeholder="{{'LastName' | translate}}">
                                </div>                                
                            </div>

                            <div class="form-group pt-3">
                                <small *ngIf="(signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')) || (signUpForm.controls['email'].dirty && signUpForm.get('email')?.hasError('valid'))"class ="text-danger">{{"EmailRequired" | translate}}</small>
                                <div class="input-field" [class.error]="(signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')) || (signUpForm.controls['email'].dirty && signUpForm.get('email')?.hasError('valid'))">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email"type ="email"placeholder="{{'Email' | translate}}">
                                </div>                                
                            </div>

                            <div class ="form-group pt-3">
                                <small *ngIf="(signUpForm?.get('password')?.hasError('strong') && signUpForm.controls['password'].dirty) || (signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password'))" class="text-danger">{{"PasswordRequiredSignUp" | translate}}</small>
                                <div class="input-field" [class.error]="(signUpForm.get('password')?.hasError('strong') && signUpForm.controls['password'].dirty) || (signUpForm.hasError('required', 'password') && signUpForm.controls['password'].dirty)">
                                    <span class="fa fa-lock p-2"></span>
                                    <input id="password" formControlName="password"type="password"placeholder="{{'Password' | translate}}" (input)="preventSpaces($event)">
                                    <span class="fa fa-eye-slash"></span>
                                </div>
                            </div>

                            <div class ="form-group pt-3">
                                <small *ngIf="signUpForm.errors?.matchPassword && signUpForm.get('confirmPassword')?.touched" class="text-danger">{{"PasswordMatch" | translate}}</small>
                                <div class="input-field" [class.error]="signUpForm.errors?.matchPassword && signUpForm.get('confirmPassword')?.touched">
                                    <span class="fa fa-lock p-2"></span>
                                    <input id="confirmPassword" formControlName="confirmPassword" type="password"placeholder="{{'ReEnterPassword' | translate}}" (input)="preventSpaces($event)">
                                    <span class="fa fa-eye-slash"></span>
                                </div>
                            </div>
                         
                            <div class="signUpButton">
                                <button (click)="onSignUp()" type="submit" class="button" >{{"Signup" | translate}}</button>
                                <small *ngIf="errorMessage" class="signUpErrorMessage">{{errorMessage}}</small>
                                <small *ngIf="successMessage" class="signUpSuccessMessage">{{successMessage}}</small>
                            </div>
                            <button (click)="guestOnSubmit()" type="submit" class="btn-guest" >{{"ContinueAsGuest" | translate}}</button>
                            <div class="loginButton text-gray-500">{{"AlreadyHaveAccount" | translate}}? <a id="forget" routerLink="/login">{{"Login" | translate}}</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class ="footer inset-x-0 bottom-0">
    <div class="copyright">
        <p class="py-4">{{ 'nav_copyright' | translate }}</p>
    </div>
</div>