.outer {
    margin-left: 0px;
    min-height: 90vh;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #fff2eb;
    overflow: auto;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
    color: #54c242;
}

.title {
    font-size: 30px;
    text-align: center;
    color: #54c242;
}

.header,
.footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 80px;
    color: #fff;
    text-align: center;
}

.copyright {
    padding-top: 20px;
    text-align: center;
    color: #54c242;
}

#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    color: #54c242;
}

A:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.panel {
    box-shadow: 20px 0px 90px rgba(84, 194, 66, 0.5);
    border-radius: 12px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 300px;
    max-height: 100vh;
    overflow: hidden;
    align-self: center;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
    color: #54c242;
    font-size: 30px;
}

.input-field {
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #54c242;
    color: gray;
    margin-bottom: 10px;
}

.input-field.error {
    border: 2px solid red;
    color: red;
}

input[type='email'],
input[type='password'],
input[type='text'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.text-danger{
    color: red;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.signUpButton{
    margin-bottom: 5px;
   
    .button {
        margin-top: 25px;
        margin-bottom: 25px;
        border: none;
        border-radius: 15px;
        background-color: #54c242;
        color: #fff;
        padding: 15px 40px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: block;
        margin-left: auto; 
        margin-right: auto;
        &:hover {
            background-color: #388e3c;
        }
    }

    .signUpErrorMessage{
        margin-left: 10px;
        color: red;
        font-size: 12px;
        margin-top: 25px;
        width: 50%;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    .signUpSuccessMessage{
        margin-left: 10px;
        color: green;
        font-size: 12px;
        margin-top: 25px;
        width: 50%;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

}

.loginButton {
    text-align: center;

    #forget {
      color: #54c242;
      text-decoration: none;
 
      &:hover {
        color: #388e3c;
        text-decoration: underline;
      }
    }
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    background-color: #fff;

    ::ng-deep span {
        color: #54c242 !important;
    }
}

.btn-guest {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 15px;
    background-color: #54c242;
    color: #fff;
    padding: 15px 40px; 
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    &:hover {
        background-color: #388e3c;
    }
}

p {
    color: #54c242;
}