<div class="w-full
    mx-auto
    rounded-xl
    shadow-xl
    text-gray-800
    relative" 
    style="max-width: 700px"
    #calculatorContainer
    class="calculator-container">

    <h1 class="text-center text-white py-2 text-3xl font-bold invisible">Calculator For Savis4</h1>

    <!--Calculator screen: scientific mode-->
        <!--TBD-->

    <!--Calculator screen: non-scientific mode-->
        <div class="w-full
            bg-gradient-to-b
            from-gray-800
            to-gray-700
            text-right">

            <!--Scientific Button-->
            <button class = "w-full
            text-white
            font-light
            text-left
            px-3
            py-3"
            (click)="toggleAdvancedMode()">
            {{toggleAdvancedMode()}}
            </button>

            <!--Number screen-->
            <div class="w-full
                py-5
                px-6
                text-5xl
                text-white
                font-thin
                display"
                (mousedown)="onMouseDown($event)"
                (touchstart)="onTouchStart($event)"> <!--hopefully adds mouse for drag-->
                {{display}}
            </div>
        </div>
        <!--End of caclulator screen-->


        <!--calculator button area-->
        <div class="w-full bg-gradient-to-b from-green-500 to-green-800">

                <!--First button row-->
                <div class="flex w-full">
                    <!--Clear button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            hover:bg-green-700
                            hover:bg-opacity-20
                            text-white
                            text-xl
                            font-light"
                            (click)="onClearClick()"> 
                            C   
                        </button>    
                    </div>
                    <!--End of clear button-->

                     <!--negative/positive button-->
                     <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            hover:bg-green-700
                            hover:bg-opacity-20
                            text-white
                            text-2xl
                            font-light"
                            (click)="onNegateClick()"> 
                            -/+
                        </button>    
                    </div>
                    <!--End of negative/positive button-->

                    <!--percentage button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-700
                            hover:bg-opacity-20
                            text-xl
                            text-white
                            font-light"
                            (click)="onPercentageClick()">
                            %
                        </button>
                    </div>
                    <!--End of percentage button-->

                    <!--division button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-700
                            hover:bg-opacity-20
                            text-white
                            text-xl
                            font-light"
                            (click)="onOperatorClick('/')">
                            /
                        </button>
                    </div>
                    <!--end multiplication button-->
                </div>
                <!--end first row of buttons-->
                

                <!--start of second row of buttons-->
                <div class="flex w-full">

                    <!--number 7 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('7')">
                            7
                        </button>
                    </div>
                    <!--end of button 7-->

                    <!--number 8 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('8')">
                            8
                        </button>
                    </div>
                    <!--end of button 8-->

                    <!--number 9 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('9')">
                            9
                        </button>
                    </div>
                    <!--end of button 9-->

                    <!--multiplication button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onOperatorClick('*')">
                            *
                        </button>
                    </div>
                    <!--end of button multipilcaiton-->
                </div>
                <!--end of second row of buttons-->

       

                <!--start of third row of buttons-->
                <div class="flex w-full">

                    <!--number 4 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('4')">
                            4
                        </button>
                    </div>
                    <!--end of button 4-->

                    <!--number 5 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('5')">
                            5
                        </button>
                    </div>
                    <!--end of button 5-->

                    <!--number 6 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('6')">
                            6
                        </button>
                    </div>
                    <!--end of button 6-->

                    <!--substraction button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-500
                            hover:bg-opacity-40
                            text-white
                            text-xl
                            font-light"
                            (click)="onOperatorClick('-')">
                            -
                        </button>
                    </div>
                    <!--end of button substraction-->
                </div>
                <!--end of third row of buttons-->




                <!--start of fourth row of buttons-->
                <div class="flex w-full">

                    <!--number 1 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('1')">
                            1
                        </button>
                    </div>
                    <!--end of button 1-->

                    <!--number 2 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('2')">
                            2
                        </button>
                    </div>
                    <!--end of button 2-->

                    <!--number 3 button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('3')">
                            3
                        </button>
                    </div>
                    <!--end of button 3-->

                    <!--addition button-->
                    <div class="w-1/4 border-r border-b border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            focus:outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onOperatorClick('+')">
                            +
                        </button>
                    </div>
                    <!--end of button addition-->
                </div>
                <!--end of fourth row of buttons-->


                <!--start of fifth row of buttons-->
                <div class="flex w-full">
                    <!--number 0 button-->
                    <div class="w-1/4 border-r border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onNumberClick('0')">
                            0
                        </button>
                    </div>

                     <!--decimal button-->
                     <div class="w-1/4 border-r border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onDecimalClick()">
                            .
                        </button>
                    </div>

                     <!--equal button-->
                     <div class="w-2/4 border-r border-green-400">
                        <button class="w-full
                            h-16
                            outline-none
                            hover:bg-green-600
                            hover:bg-opacity-30
                            text-white
                            text-xl
                            font-light"
                            (click)="onEqualsClick()">
                            =
                        </button>
                    </div>
                </div>
        </div>
</div>