.if-disabled[disabled]{
    background-color: gainsboro;
}
.green-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height:4px;
    background-color: green;
}

.data-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 38ch;
    padding: 5px;
    margin-bottom: 10px;
    //text-align: justify;
    p {
      margin-top: 1px;
      margin-bottom: 1px;
      text-align: center;
    }
    .center-num {
      text-align: center;
      float: right;
    }
  }

  input:not([type="range"]){
    padding: 0.4rem;
    border-radius: 10px;
    border: 1px black solid;
    //display: block;

    &:disabled{
      background-color: #929292;
      cursor: not-allowed;
      color: #929292;
    }
}
.static-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px 0; 
}

  