#bar-chart-tutorial {
  padding: 20px;
  background-color:var(--fifth-col);
  
    form {
      margin-top: 0;
      margin-bottom: 0;
    }

    h1 {
      font-weight: bold;
      color:var(--second-col);
    }

    h3 {
      font-weight: bold;
      color:var(--second-col);
    }

    h4 {
      margin-top: 3px;
      color:var(--second-col);
    }
    .chart-area {
      color:var(--second-col);
      display: flex;
      //flex-wrap: wrap;
      #control {
        width: 10%;
      }
      #view {
        background-color: var(--eighth-col);
        border-radius: 10px;
        margin-left: 50px;
        width: 60%;
        justify-content: center;
      }
      #result{
        color:var(--second-col);
        text-align: center;
        width: 25%;
        justify-content: center;
        align-content: center;
        margin: auto;
        table{
          font-size: 14px;
          border-spacing: 0;
          border-radius: 5px;
          margin: auto;
          width: 90%;
        }
        th, td{
          padding: 5px;
          border: 1px solid var(--second-col);
        }
      }
      label {
        display: block;
        font-size: 12px;
      }
    }
    .right-num {
      text-align: right;
      // float: right;
    }
    .btn{
      width: 100%;
      margin: 5px;
    }
    .text-display{
      color:var(--second-col);
      text-align: center;
      margin: 5px;
    }
    .text-error {
      text-align: center;
      margin:5px;
      color: red;
    }
    textarea{
      background-color: var(--fifth-col);
      border: 2px solid var(--ninth-col);
      color:var(--second-col);
      margin: 2px;
      width: 100%;
      border-radius: 5px;
      resize: none;
    }
    select{
      background-color: var(--fifth-col);
      border: 2px solid var(--ninth-col);
      color:var(--second-col);
      width: 100%;
      height: 30px;
      border-radius: 5px;
    }
}

$primary-color: var(--seventh-col);
$secondary-color: #5ebe5e;
$slider-active-color: var(--ninth-col);
$slider-track-color: var(--ninth-col);;

button {
  background: linear-gradient(180deg, lighten($secondary-color, 5%), $secondary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background: linear-gradient(180deg, $secondary-color, darken($secondary-color, 5%));
  }

  &:disabled {
    background: var(--ninth-col);
    cursor: not-allowed;
  }
}

input[type="number"] {
  margin: 2px;
  background-color: var(--fifth-col);
  border: 2px solid var(--ninth-col);
  color:var(--second-col);
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}

.green-line {
  margin: 10px;
  width: 100%;
  height:4px;
  background-color: green;
}

.static-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px 0; 
}