<div class ="header">
    <h3 class="title pt-6 font-weight-bold" routerLink="/login">SAVIS</h3>
</div>

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="panel border bg-white">
                <p class="text-center">Select language</p>
                        <p class="text-center">Seleccione el idioma</p>
                <app-language-switcher class="language"></app-language-switcher>
                <h3 class="panel-heading pt-3">{{"ForgotPassword" | translate}}</h3>

                <form [formGroup]="forgotPasswordForm">
                    <div class="panel-body p-3">
                        <div class="form-group pt-3">
                            <small *ngIf="(forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email')) || (forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.get('email')?.hasError('valid'))" class="text-danger">{{"ValidEmail" | translate}}</small>
                            <div class="input-field" [class.error]="(forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email')) || (forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.get('email')?.hasError('valid'))">
                                <input formControlName="email" type="email" placeholder="{{'Email' | translate}}">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="submitButton">
                    <button (click)="onSubmit()" type="submit" class="button">{{"Submit" | translate}}</button>
                    <div>
                        <small *ngIf="errorMessage" class="submitErrorMessage">{{ errorMessage }}</small>
                        <small *ngIf="successMessage" class="submitSuccessMessage">{{ successMessage }}</small>
                    </div>
                    <div class="loginButton text-gray-500">{{"BackTo" | translate}} <a id="forget" routerLink="/login">{{"Login" | translate}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class ="footer inset-x-0 bottom-0">
    <div class="copyright">
        <p class="py-4">{{ 'nav_copyright' | translate }}</p>
    </div>
</div>
