<app-navbar></app-navbar>

<div class="tmht-container">
  <h1 class="title">{{'problems_tmht_title' | translate}}</h1>
  <div button="back" routerLink="/problems" class="back-button">
      &larr; {{ 'problems_back' | translate }}
    </div>
  <div class="content">
    <div class="text-section">
      <div class="green-box">
        <p [innerHTML]="'problems_tmht_questions.' + currProblemIndex | translate"></p>
      </div>
      <div class="responseSection">
        <!--textbox for user to type their answer-->
        <p><b>{{'problems_tmht_nullHyp'|translate}}</b></p>
        <textarea class = "textResp" rows = "1" placeholder="e.g., 100" [(ngModel)] = "nullHypResp"></textarea>
        <br>
        <p><b>{{'problems_tmht_pVal'|translate}}</b></p>
        <textarea class = "textResp" rows = "1" placeholder="e.g., 0.0094" [(ngModel)] = "pValResp"></textarea>
        <br>
        <div class="qBox">
          <p><b>{{'problems_tmht_testType'|translate}}</b></p>
          <input type="radio" id="zTest" name="testType" value="z-test" [(ngModel)] ='testTypeResp'>
          <label for="zTest">{{'problems_tmht_z'|translate}}</label><br>
          <input type="radio" id="tTest" name="testType" value="t-test"[(ngModel)] ='testTypeResp'>
          <label for="tTest">{{'problems_tmht_t'|translate}}</label>
          <br>
          <p><b>{{'problems_tmht_concl'|translate}}</b></p>
          <input type="radio" id="rejectHyp" name="conclusion" value="Reject null hypothesis" [(ngModel)] ='conclResp'>
          <label for="rejectHyp">{{'problems_tmht_rejh0'|translate}}</label><br>
          <input type="radio" id="acceptHyp" name="conclusion" value="Fail to reject null hypothesis" [(ngModel)] ='conclResp'>
          <label for="acceptHyp">{{'problems_tmht_failtorejh0'|translate}}</label>
          <br>
        </div>
        <!--submit button-->
        <button class = "submit-button" (click)="submitAnswer()">{{ 'problems_submit' | translate }}</button>
        <!--change question-->
        <button class="qchange-button" (click)="nextQuestion()">{{ 'problems_generator' | translate }}</button>
        <!--show if user answer is correct or incorrect-->
        <div *ngIf = "showAnswer" class = "answer-box" [ngClass] = "{correct: problemCorrect, incorrect: !problemCorrect}">
          <p *ngIf = "problemCorrect">
            <b>{{'problems_correlation_correct'|translate}}</b>
          </p>
          <p *ngIf = "!problemCorrect">
            <b>{{'problems_correlation_incorrect'|translate}}</b><br><br>
            <b>{{'problems_tmht_corrAns'|translate}}</b><br><br>
            <b>{{'problems_tmht_nullHyp'|translate}}</b> {{ correctAnswer }}<br>
            <b>p-value:</b> {{correctAnswer2}}<br>
            <b>{{'problems_tmht_testType'|translate}}</b> {{correctAnswer3}}<br>
            <b>{{'problems_tmht_concl'|translate}}</b> {{correctAnswer4}}
          </p>
          <!--hide answer button-->
          <button (click) = "hideAnswer()" class="hide-button">{{ 'problems_hide' | translate }}</button>
        </div>
      </div>
    </div>

    <!--left side of the page-->
    <!--add blank bar chart-->
    <div class ="chart-container">
      <canvas #diffChart width="1500" height="600"></canvas>
    </div>
  </div>
</div>

<footer class="static-footer">
  {{ "nav_copyright" | translate }}
</footer>