<app-navbar></app-navbar>

<div class="opht-container">
  <h1 class="title">{{'problems_opht_title' | translate}}</h1>
  <div button="back" routerLink="/problems" class="back-button">
      &larr; {{ 'problems_back' | translate }}
    </div>
  <div class="content">
    <div class="text-section">
      <div class="green-box">
        <p class = "problem-text">{{ problemText }}</p>
      </div>
      <!--textbox for user to type their answer-->
      <textarea class = "textbox" rows = "1" placeholder="Type the answer here" [(ngModel)] = "inputAnswer">
      </textarea>
      <!--submit button-->
      <button class = "submit-button" (click)="submitAnswer()">Submit Answer</button>
      <!--show if user answer is correct or incorrect-->
      <div *ngIf = "showAnswer" class = "answer-box" [ngClass] = "{correct: answerIsCorrect, incorrect: !answerIsCorrect}">
        <p>{{answerIsCorrect? 'Correct!' : 'Incorrect answer. Please try again!'}}</p>
        <p *ngIf = "!answerIsCorrect">
          Correct answer: {{ correctAnswer }}
        </p>
        <!--hide answer button-->
        <button (click) = "hideAnswer()" class="hide-button">Hide Answer</button>
      </div>
    </div>

    <!--left side of the page-->
    <!--add blank bar chart-->
    <div class ="chart-container">
      <canvas #chartCanvas width="1200" height="600"></canvas>
    </div>
  </div>
</div>

<footer class="static-footer">
  {{ "nav_copyright" | translate }}
</footer>