.one-proportion-ci{
  
  padding-left: 3rem;
  .title2{
    padding: 2rem;
    text-align: center;
    font-size: 30px;
    margin-bottom: -1rem;
  }
  
  .title3{
    font-size: 150%;
  }

  .stats{
    font-size: 19px;
  }

  .lhs, .rhs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
  .lhs {
    width: 26em;
  }
  .rhs {
    flex-grow: 1;
  }

  .lhs p, label{
    padding-top: 1rem;
    font-size: 19px;
  }

  .rhs{
    p{
      input[type=number]{
            width:10%;
          }
      margin-left: 60rem;
      margin-top: 1rem;
      font-size: 19px;
    }
    label{
      margin-left: 32rem;
      margin-top: -10rem;
      font-size: 19px;
    }
    h6{
      margin-left: 34rem;
      margin-top: 4rem;
      font-size: 19px;
    }
  }

  .l{
    margin-left: 27rem;
    margin-top: -16rem;
    font-size: 19px;
    text-decoration: underline;
  }

  .chart-wrap {
    width: 50%;
    height: 250px;
    margin-top: -5rem;
    margin-left: 40rem;
    margin-bottom: 3rem;
    // justify-content: center;
    // text-align: center;
    // user-select: none;
  }

  .chart-wrap2 {
    width: 50%;
    height: 250px;
    margin-top: -13rem;
    margin-left: 40rem;
    margin-bottom: 1rem;
  }

  .chart-wrap3 {
    width: 75%;
    height: 100%;
    margin-top: 1rem;
    margin-left: 10rem;
  }

  input:not([type="range"]){
    padding: 0.4rem;
    border-radius: 10px;
    border: 1px black solid;
    //display: block;

    &:disabled{
      background-color: #929292;
      cursor: not-allowed;
      color: #929292;
    }
  }
  
  .btn {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    background-color: #73d564;
    color: #fff;
    font-size: 110%;
    border-radius: 5px;
  }

  .load-button,
  .reset-button{
    display: block;
    //margin-bottom: 10px;
    margin-left: 2px;
  }
  
  label{
    display: block;
  }
 
  .center-num {
    text-align: center;
  }

  .custom-button {
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
      background-color: lightgreen;
      color: black;
    }
  }

  .green-line {
    margin: 10px;
    width: 100%;
    height:4px;
    background-color: green;
  }

}

.form-inline {
  display: flex;
  gap: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
  label {
    margin-left: 4px;
    position: relative;
    top: -7px;
  }
}

input[type="radio"],
label {
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
}


.data-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 38ch;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  //text-align: justify;
  p {
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
  }
  .center-num {
    text-align: center;
    float: right;
  }
}

$primary-color: #5ebe5e;
$secondary-color: #93cb52;
$slider-active-color: #bfbfbf;
$slider-track-color: #bfbfbf;
 // Slider thumb
 input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;

  &:disabled {
    cursor: not-allowed;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $primary-color;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px solid darken($primary-color, 15%)
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 50%;
    height: 22px;
    background: $slider-track-color;
    border-radius: 5px;
    border: 1px  solid darken($slider-active-color, $amount: 15%)
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $primary-color;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px solid darken($primary-color, 15%)
  }

  &::-moz-range-track {
    width: 100%;
    height: 22px;
    background: $slider-track-color;
    border-radius: 5px;
    border: 1px  solid darken($slider-active-color, $amount: 15%)
  }
}

.static-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px 0; 
}