.preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
    background-color: #c0bfbf;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    overflow: auto;

    ::-webkit-scrollbar {
        display: none !important;
    }
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.overflow {
    overflow: auto;

    ::-webkit-scrollbar {
        display: none !important;
    }
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.save {
    border: 1px black solid;
}

.save:hover {
    cursor: not-allowed;
}

.save:not(:disabled) {
    color: black;
    border: 1px black solid;
    background-color: rgba(0, 128, 0, 0.5);
    cursor: pointer;
}

.save:not(:disabled):hover {
    background-color: rgba(0, 128, 0, 0.8);
}

.close {
    border: 1px black solid;
    background-color: rgba(255, 0, 0, 0.5);
}

.close:hover {
    background-color: rgba(255, 0, 0, 0.8);
}
