<h2 mat-dialog-title>{{ 'save_title' | translate }}</h2>
<mat-dialog-content class="overflow">
  <p>{{ 'save_question' | translate }}</p>
  <mat-form-field>
    <mat-label>{{ 'save_file_name' | translate }}</mat-label>
    <input matInput type="text" placeholder="{{ 'save_file_name' | translate }}" [formControl]="fileName">
  </mat-form-field>
  <div>
    <mat-label>{{ 'save_data' | translate }}</mat-label>
    <pre class="preview" matInput>{{data.data}}</pre>
  </div>
</mat-dialog-content>
<br>
<p>{{ 'save_prompt' | translate }}</p>
<mat-dialog-actions>
  <button mat-button class="save" [mat-dialog-close]="{save: true, fileName: fileName.value, data: data}" [disabled]="!fileName.value || !data || !isFileNameUnique" cdkFocusInitial>{{ 'save_saveData' | translate }}</button>
  <button mat-button class="close" [mat-dialog-close]="{save: false}">{{ 'save_cancel' | translate }}</button>
</mat-dialog-actions>
