<app-navbar></app-navbar>
<body class="flex flex-col min-h-screen">
<div id="dot-chart-tutorial">
    <h1 class="text-center">{{ '//omci_One_Mean_Confidence_Interval' | translate }}</h1>
    <h3 class="subtitle">1. {{ 'omci_enter_data' | translate }}
        <input type="checkbox" class="toggle-box" [(ngModel)]="showInputForm" checked="checked">
    </h3>
    <div class="chart-input-form" *ngIf="showInputForm">
        <div class="data-form">
            <select id="sample-data-options" (change)="sampleSelect($event)">
                <option disabled selected>{{ 'omci_sample' | translate }}</option>
                <option value="sample1">{{ 'omci_sample1' | translate }}</option>
                <option value="sample2">{{ 'omci_sample2' | translate }}</option>
            </select>
            <textarea
                [(ngModel)]="csvTextArea"
                rows="8"
                id="csv-input"
                placeholder="{{ 'dotPlot_placeholder' | translate }}"
            ></textarea>
            <button class="btn" id="load-data-btn" (click)="loadDataButton()">{{ 'omci_load' | translate }}</button>
            <button class="btn" id="reset-btn" (click)="totalReset()">{{ 'omci_reset' | translate }}</button>
            <button class="btn2" id="upload-btn" (click)="triggerFileInput()">{{ 'omci_upload' | translate }}</button>
            <input type="file" id="fileInput" #fileInput (change)="onFileSelected($event)" style="display: none;">
            <app-save-load-buttons 
                class="mx-8"
                [data]="csvTextArea"
                [feature]="'OneMeanCI'"
            ></app-save-load-buttons>
            <br>
            <!-- <form>
                <input type="radio" id="population-data-ratio" value="population" name="setData" [(ngModel)]="sampleRadio" (click)="radioChange('population')" checked>
                <label for="population" class="m-1">{{ 'dotPlot_population' | translate }}</label>
                <br>
                <input type="radio" id="sample-data-ratio" value="sample" name="setData" [(ngModel)]="sampleRadio" (click)="radioChange('sample')">
                <label for="sample" class="m-1">{{ 'dotPlot_sample' | translate }}</label>
            </form> -->
            
        </div>

        <div class="data-form">
            <textarea
                rows="10"
                id="input-data-display"
                readonly
                class="readonly"
            >{{ inputDataDisplay }}</textarea>
            <p>{{ 'omci_Mean' | translate }} <i>{{ meanSymbol }}</i> :</p>
            <p>{{ inputDataMean }}</p>
            <p>{{ 'omci_Standard_Deviation' | translate }} {{ stdSymbol }}:</p>
            <p>{{ inputDataStd }}</p>
            <p>{{ 'omci_Size' | translate }} <i>N</i> :</p>
            <p>{{ inputDataSize }}</p>
        </div>
        <div class="chart-wrap">
            <canvas #inputChart></canvas>
        </div>
    </div>

    <div class="green-line"></div>

    <h3>2. {{ 'omci_get_sample' | translate }}
        <input type="checkbox" class="toggle-box" [(ngModel)]="showSampleForm" checked="checked">
    </h3>
    <div class="chart-input-form" *ngIf="showSampleForm">
        <div class="data-form">
            <label for="sample-data-size">{{ 'omci_sample_size' | translate }}:</label>
            <input type="number" min="1" step="1" id="sample-data-size" [(ngModel)]="sampleSize" [disabled]="disabledInput">
            <label for="no-of-sample">{{ 'omci_num_sim' | translate }}</label>
            <br>
            <input type="number" min="1" step="1" id="no-of-sample" [(ngModel)]="noOfSim" [disabled]="disabledInput">
            <br>
            <button class="btn" id="get-sample-btn" (click)="runSimulationButton()" [disabled]="disabledInput">{{ 'omci_run_sim' | translate }}</button>
            <p id="run-sim-error-msg"></p>
        </div>

        <div class="data-form">
            <textarea
                rows="10"
                readonly
                class="readonly"
                id="sample-data-display"
            >{{ sampleDataDisplay }}</textarea>
            <p>{{ 'omci_Mean' | translate }} <i>x̄</i> :</p>
            <p>{{ sampleDataMean }}</p>
            <p>{{ 'omci_Standard_Deviation' | translate }} s:</p>
            <p>{{ sampleDataStd }}</p>
        </div>

        <div class="chart-wrap">
            <canvas #sampleChart></canvas>
        </div>
    </div>

    <div class="green-line"></div>

    <h3>3. {{ 'omci_distribution' | translate }}
        <input type="checkbox" class="toggle-box" [(ngModel)]="showMeansForm" checked="checked">
    </h3>
    <div class="chart-input-form" *ngIf="showMeansForm">
        <div class="data-form">
            <p>{{ 'omci_means_interval' | translate }}</p>

            <label for="min-tailValue">{{ 'omci_min' | translate }}</label>
            <input type="number" id="min-interValue" step="1" [(ngModel)]="minInterValInput" (ngModelChange)="sampleMeanChange()" [disabled]="sampleMeanDisabled">
            <label for="min-tailValue">{{ 'omci_include_min' | translate }}
                <input type="checkbox" id="includeMin" [(ngModel)]="includeValMin" (ngModelChange)="sampleMeanChange()" [disabled]="sampleMeanDisabled">
            </label>

            <br>

            <label for="max-tailValue">{{ 'omci_max' | translate }}</label>
            <input type="number" id="max-interValue" step="1" [(ngModel)]="maxInterValInput" (ngModelChange)="sampleMeanChange()" [disabled]="sampleMeanDisabled">
            <label for="max-tailValue">{{ 'omci_include_max' | translate }}
                <input type="checkbox" id="includeMax" [(ngModel)]="includeValMax" (ngModelChange)="sampleMeanChange()" [disabled]="sampleMeanDisabled">
            </label>

            <br>

            <p>{{ 'omci_proportions_of_samples' | translate }}:</p>
            <p>{{ sampleMeansChosen }}</p>
            <p>{{ 'omci_proportions_of_samples_unchosen' | translate }}:</p>
            <p>{{ sampleMeansUnchosen }}</p>
        </div>

        <div class="data-form">
            <textarea
                rows="10"
                readonly
                class="readonly"
                id="sample-means-display"
            >{{ sampleMeansDisplay }}</textarea>
            <p>{{ 'omci_means_of_samples' | translate }}: </p>
            <p>{{ sampleMeansMean }}</p>
            <p>{{ 'omci_std_of_samples' | translate }}: </p>
            <p>{{ sampleMeansStd }}</p>
            <p>{{ 'omci_total_samples' |translate }}:</p>
            <p>{{ sampleMeansSize }}</p>
        </div>

        <div class="chart-wrap">
            <canvas #sampleMeansChart></canvas>
        </div>
    </div>
    <div class="green-line"></div>
    <h3>4. {{ 'omci_confidence_interval' | translate }}
        <input type="checkbox" class="toggle-box" [(ngModel)]="showConfidenceIntervalForm" checked="checked">
    </h3>
    <div class="chart-input-form" *ngIf="showConfidenceIntervalForm">
        <div class="data-form">
            <p>{{'omci_inputNumbers' | translate}}</p>
            <input type="number" id="interval-number" step="1" [(ngModel)]="noOfIntervals">
            <button class="btn" id="bld-interval" (click)="confidenceInterval()">{{ 'omci_calculate_confidence_interval' | translate }}</button>
            <p style="text-align: left;">{{'omci_InInterval' | translate}}</p>
            <p style="text-align: center;">{{ confidenceIntervalCount }}</p>
            <p style="text-align: left;">{{'omci_NotInInterval'| translate}}</p>
            <p style="text-align: center;">{{ confidenceIntervalCountNot }}</p>
        </div>
        <!-- <div class="data-display" read style="  height: 200px;
        width: 175px;
        border: 1px solid #ccc;
        overflow-y: auto;"> -->
        <div class="readonly" readonly
        style="width: 150px; height: 300px; border-radius: 10px; display: flex; overflow-x: auto;">
            <table id="sample-table" >
              <thead *ngIf="sampleMeans.length > 0">
                <tr>
                  <th>#</th>
                  <th>{{'dotPlot_Mean' | translate}}</th>
                    <th>{{'omci_lower' | translate}}</th>
                    <th>{{'omci_Upper' | translate}}</th>
                </tr>
              </thead>
              <tbody *ngFor="let mean of sampleMeans; let i = index">
              <tr>
                <td *ngIf="meanVisible" >{{i+1}}</td>
                <td *ngIf="meanVisible" >{{mean}}</td>
                <td *ngIf="meanVisible" >{{lowerBounds[i]}}</td>
                <td *ngIf="meanVisible"  >{{upperBounds[i]}}</td>
              </tr>
            </tbody>
            </table>
        </div>
        <div class="chart-wrap">
            <canvas #confidenceIntervalChart></canvas>
        </div>
    </div>
 </div>
 <footer class="static-footer">
    {{ "nav_copyright" | translate }}
  </footer>
</body>

